#projects .project{
	border-top: 1px dashed #205080 ;
	margin:1.5em 0;
}
a{
	font-weight: bold;
	text-decoration: none;
}
.button{
	padding: 0.4em 1em;
	font-size: 0.7em;
	background-color: #22c3aa;
	color: #efefef;
	border-radius: 1.2em;
	display: inline-block;
}
a.button:hover{
	text-decoration: none;
	background-color: #205080;
}
