<h2>About XuXinxin</h2>
<p>I'm a programming lover,currently being a graduate at NCRL, School of Information Science and Engineering, SouthEast University. {{ site.description  }}</p>

<h2>Features</h2>
<ul>
  <li>Enjoy reading and thingking</li>
  <li>Love everything with great design</li>
  <li>Easygoing but sometimes too stingy orz</a></li>
</ul>

<p>For more information about me, go <a href="/about">About Me</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item" style="float:left">
    <a href="https://github.com/xuxinxin">
      <span class="fa fa-github fa-lg main-list-item-icon"></span>
    </a>
  </li>
  <li class="main-list-item" style="float:left">
    <a href="/about">
      <span class="fa fa-user fa-lg main-list-item-icon"></span>
    </a>
  </li>
</ul>
